extends navbar-connected

block content
    div.row.clear-20
        div.large-9.columns
            h3 Get in Touch!
            p
                | We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
                em all day
                | .
            div.section-container.tabs(data-section="tabs")
                section
                    p.title(data-section-title)
                        a(href="#") Section 1
                    div.content(data-section-content)
                        p #{JSON.stringify(data)}
                section
                    p.title(data-section-title)
                        a(href="#") Section 2
                    div.content(data-section-content)
                        p SECTION 2
        div.large-3.columns
            h5 Followers
            - if (data.isFollowing) {
                a.button.alert(href="#{routes.generate( routes.__ASSOCIATION_UNFOLLOW, { ':name': data.name } )}") Unfollow
            - } else {
                a.button.success(href="#{routes.generate( routes.__ASSOCIATION_FOLLOW, { ':name': data.name } )}") Follow
            - }
            p nbFollowers : #{data.nbFollowers}
            p #{JSON.stringify(data.followers)}
            p
                | 123 Awesome St.
                br
                | Barsoom, MA 95155