extends layout

block navbar
    div.fixed.clear-10
        nav.top-bar
            ul.title-area
                li.name
                    h1
                        a(href="#{routes._HOME}") #{labels.globals.navbar_title}
                li.toggle-topbar.menu-icon
                    a(href="#")
                        span #{labels.globals.navbar_small_menu}
            section.top-bar-section
                ul.left
                ul.right
                    li.divider
                    li.has-form
                        input(type="text", name="search", id="search", placeholder="Search for something")
                    li.divider
                    li
                        a(href="#{routes._HOME}") #{labels.lang.navbar_home_button}
                    li.divider
                    li.has-dropdown
                        a(href="#{routes.generate( routes.__USER_PROFILE, {':username': user.username} )}") #{user.firstname.ucwords()} #{user.lastname.ucwords()}
                        ul.dropdown
                            li.has-dropdown
                                a(href='#') Has Dropdown, Level 1
                                ul.dropdown
                                    li
                                        a(href='#') Dropdown Options
                            li
                                label #{labels.lang.navbar_user_account_separator}
                            li
                                a(href="#{routes.generate( routes.__USER_ACCOUNT, {':username': user.username} )}") #{labels.lang.navbar_user_account}
                                a(href="#{routes._USER_LOGOUT}") #{labels.lang.navbar_user_logout}
    - if (message.type == "modal") {
    div.reveal-modal.medium(id="messageModal")
        - if (typeof(message.title) !== 'undefined') {
        h2 #{message.title}
        - }
        - if (typeof(message.lead) !== 'undefined') {
        p.lead #{message.lead}
        - }
        - if (typeof(message.body) !== 'undefined') {
        p #{message.body}
        - }
        a.close-reveal-modal x
    script(type='text/javascript') $("#messageModal").foundation('reveal', 'open');
    - }