extends navbar-connected

block content
    div.row.clear-20
        div.small-12.large-12.columns
            div.alert-box.radius.success(data-alert)
                p Note that you have to log you off to reload your informations. Remember: This is a beta, things will be better !
                    a.close(href="#") &times;
    div.row
        div.large-6.columns
            form.custom(action="#{routes.generate( routes.__USER_ACCOUNT_UPDATE, {':username': user.username} )}", method="post")
                fieldset
                    legend User update
                    br
                    div.row.collapse(id="firstnameContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="firstname") First name :
                        div.small-9.large-9.columns
                            input(type="text", name="firstname", id="firstname", value="#{user.firstname.ucwords()}")
                    div.row.collapse(id="lastnameContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="lastname") Last name :
                        div.small-9.large-9.columns
                            input(type="text", name="lastname", id="lastname", value="#{user.lastname.ucwords()}")
                    div.row.collapse(id="emailContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="email") Email :
                        div.small-9.large-9.columns
                            input(type="email", name="email", id="email", value="#{user.email}")
                    div.row.collapse(id="cityContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="city") City :
                        div.small-9.large-9.columns
                            select(name="city", id="city")
                                option(value="#{userCity._id}") #{userCity.name}
                                each city in cities
                                    option(value="#{city._id}") #{city.name}
                    div.row
                    div.small-12.large-12.columns
                        input(type="submit", class="button", value="Save")
        div.large-6.columns
            fieldset
                legend Options
                br
                div.row.collapse(id="langContainer")
                    div.small-3.large-3.columns
                        span.prefix.radius
                            label(for="lang") Language :
                    div.small-9.large-9.columns
                        form.custom(action="#{routes.generate( routes.__USER_LANG_UPDATE_POST , {':username': user.username} )}", method="post", id="langForm")
                            select(name="lang", id="lang", onchange="$('#langForm').submit();")
                                option(value="en") English
                                option(value="fr") Français
    div.row
        div.large-6.columns
            fieldset
                legend Admin of :
                br
                each a in associations
                    div.row
                        div.small-12.large-12.columns
                            a(href="#{routes.generate( routes.__ASSOCIATION_PROFILE, {':name': a.name})}") #{a.name}
                            p #{JSON.stringify(a)}
        div.large-6.columns
            fieldset
                legend Following :
                br
                p Users and associations you're following
    - if (message.errors) {
    script(type='text/javascript', src="/javascripts/form-errors.js")
    script(type='text/javascript') showErrors(!{JSON.stringify(message.errors[0])});
    - }